[data-theme = "dark"]{
    --pw-background-dark: #00081A;
    --pw-background-light: #12192A;
    --pw-text-light: #F4F8FF;
    --pw-text-dark: #071330;
    --pw-text-highlighted: #165EFF;
    --pw-separator: #11192A;
    --pw-contact-background: #F4F8FF;
    --pw-text-light-static: #F4F8FF;
    --pw-text-dark-static: #071330;
}

[data-theme = "light"]{
    --pw-background-dark: #CFDDF3;
    --pw-background-light: #F4F8FF;
    --pw-text-light: #071330;
    --pw-text-dark: #F4F8FF;
    --pw-text-highlighted: #004EFF;
    --pw-separator: #F4F8FF;
    --pw-contact-background: #F4F8FF;
    --pw-text-light-static: #F4F8FF;
    --pw-text-dark-static: #071330;
}